[submodule "plugins/rv_akismet"]
	path = plugins/rv_akismet
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/rv_akismet
[submodule "themes/stripped"]
	path = themes/stripped
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/themes/stripped
[submodule "plugins/PayPalShoppingCart"]
	path = plugins/PayPalShoppingCart
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/PayPalShoppingCart
[submodule "plugins/AdditionalPages"]
	path = plugins/AdditionalPages
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AdditionalPages
[submodule "plugins/AddUsersNotes"]
	path = plugins/AddUsersNotes
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AddUsersNotes
[submodule "plugins/AdminTools"]
	path = plugins/AdminTools
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AdminTools
[submodule "plugins/AMenuManager"]
	path = plugins/AMenuManager
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AMenuManager
[submodule "plugins/BatchDownloader"]
	path = plugins/BatchDownloader
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/BatchDownloader
[submodule "plugins/Comments_on_Albums"]
	path = plugins/Comments_on_Albums
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/Comments_on_Albums
[submodule "plugins/CryptograPHP"]
	path = plugins/CryptograPHP
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/CryptograPHP
[submodule "plugins/event_tracer"]
	path = plugins/event_tracer
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/event_tracer
[submodule "plugins/exif_view"]
	path = plugins/exif_view
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/exif_view
[submodule "plugins/export_data"]
	path = plugins/export_data
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/export_data
[submodule "plugins/ExtendedDescription"]
	path = plugins/ExtendedDescription
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/ExtendedDescription
[submodule "plugins/Force_HTTPS"]
	path = plugins/Force_HTTPS
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/Force_HTTPS
[submodule "plugins/GDThumb"]
	path = plugins/GDThumb
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/GDThumb
[submodule "plugins/GrumPluginClasses"]
	path = plugins/GrumPluginClasses
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/GrumPluginClasses
