# Piwigo specific directories
/_data
/plugins/*
!/plugins/index.php
/themes/*
!/themes/index.php
!/themes/default
/upload
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.settings
.project
apple-touch-icon-precomposed.png
apple-touch-icon.png
favicon.ico
FB_catalog_CA.xml
FB_catalog_de_DE.xml
FB_catalog_es_XX.xml
FB_catalog_FR.xml
FB_catalog_GB.xml
FB_catalog_it_IT.xml
FB_catalog_US.xml
online_catalog_FR.xml
online_catalog_GB.xml
sitemap.xml
