[submodule "plugins/rv_akismet"]
	path = plugins/rv_akismet
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/rv_akismet
[submodule "themes/stripped"]
	path = themes/stripped
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/themes/stripped
[submodule "plugins/PayPalShoppingCart"]
	path = plugins/PayPalShoppingCart
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/PayPalShoppingCart
[submodule "plugins/AdditionalPages"]
	path = plugins/AdditionalPages
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AdditionalPages
[submodule "plugins/AddUsersNotes"]
	path = plugins/AddUsersNotes
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AddUsersNotes
[submodule "plugins/AdminTools"]
	path = plugins/AdminTools
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AdminTools
[submodule "plugins/AMenuManager"]
	path = plugins/AMenuManager
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/AMenuManager
[submodule "plugins/BatchDownloader"]
	path = plugins/BatchDownloader
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/BatchDownloader
[submodule "plugins/Comments_on_Albums"]
	path = plugins/Comments_on_Albums
	url = /Users/robinmoret/Documents/Creations/Daedalum/repository/piwigo_master/plugins/Comments_on_Albums
